@model ResRestaurantManagment.Data.ResList

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ResList</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TableId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TableId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    <h5>Reservation Tables</h5>
    <ul>
    @foreach (var item in Model.Tables)
    {
        <li><a asp-controller="ResTables" asp-action="Details" 
            asp-route-id="@item.Id">@item.Table</a></li>
    }
    </ul>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
